@using Microsoft.AspNetCore.Identity;
@using PhoneBook.Models.Users;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @*<form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">*@
    <form asp-controller="Account" asp-action="LogOff" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" 
            method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    @ViewData["NameUser"] <i class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="font-size: 10px; vertical-align:central"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Редактировать", "Edit", "Account", new { id = UserManager.GetUserId(User) })</li>
                    <li>@Html.ActionLink("Изменить пароль", "ChangePassword", "Account", new { id = UserManager.GetUserId(User) })</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Удалить аккаунт", "ChangePassword", "Account", new { id = UserManager.GetUserId(User) })</li>
                </ul>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Выход</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Войти</a></li>
    </ul>
}