@model PhoneBook.Models.Groups.Group

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Подробная информация</title>
</head>
<body>

    <div>

        <h3>@Html.DisplayFor(model => model.Name)</h3>
        <hr />
        <h4 style="display:block; float:left">Контакты:</h4>
        <a style="margin: 25px 0px 10px 0px; display:block; float:right" asp-area="" asp-controller="Group" asp-action="Create">Добавить</a>

        @if ((Model.Contacts != null) && (Model.Contacts.Count != 0))
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Contacts.First().Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Contacts)
                    {
                        <tr>
                            <td>
                                @String.Concat(item.Surname, " ", item.Name, " ", item.Patronymic)
                            </td>
                            <td style="text-align:right">
                                <a asp-area="" asp-controller="Contact" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                                @*<a asp-area="" asp-controller="Contact" asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |*@
                                <a asp-area="" asp-controller="Contact" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p style="clear:both"><br />Контактов в группе нет</p>
        }
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактирование</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
</body>
</html>
